/* potential color schemes:
  - https://kuler.adobe.com/Phaedra-color-theme-1764754/edit/?copy=true
*/

/* @import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css); */
/* @import url(http://fonts.googleapis.com/css?family=Exo+2); */
/*  */
@import 'variables';

body{
  background-color: whiteSmoke;
  padding: 0;
  margin: 0;
}

#header{
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background: #453A38;
  color: #eee;
  padding: $padding;
  position: relative;
  
  .title{
    margin: 0;
  }
}

.user-settings{
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  
  li{
    display: inline-block;
    list-style: none;
    margin: 10px;
  }
}

a{
  text-decoration: none;
  color: #408DCF;
}
