/* -- MAIN -- */

html, body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  position:absolute;
  top:0;
  left:0;
}

body {
  background:#f6f6f6;
  color:#4a4235;
  width:100%;
  height:100%;
}

/* -- Header -- */

#hPageHeader {
  width:100%;
  background:#fff;
  -moz-box-shadow:    2px 2px 5px 2px #ccc;
  -webkit-box-shadow: 2px 2px 5px 2px #ccc;
  box-shadow:         2px 2px 5px 2px #ccc;
  position:absolute;
  top:0;
  left:0;
}

.header a {
  color:#333;
}

.header .title {
  font-size:18px;
}

.header {
  width:970px;
  position:relative;
  margin:0 auto;
  padding:20px;
  height:70px;
}


/* -- Body -- */

#dPage {
  padding:20px;
  width:970px;
  margin:70px auto 0;
}
