<form action="/register" method="POST" class="form">
  <h3>Register</h3>
  
  <input type="email" placeholder="Email" name="email" />
  <input type="text" placeholder="Full Name" name="full-name" />
  <input type="password" placeholder="Password" name="password" />

  <button type="submit">Create Account</button>
</form>
