<form action="/login" method="POST" class="form">
  <h3>Login</h3>
  
  <input type="email" placeholder="Email" name="email" />
  <input type="password" placeholder="Password" name="password" />

  <button type="submit">Log in</button>
</form>
